    <link rel="stylesheet" href="/css/home.css">
    <h1>Codeial <%= title %> </h1>

    <section id="feed-post">
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="10" placeholder="type here..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>

    <div id="post-list-div">
        <ul>
            <% for(post of posts) {%>
                <li>
                    <%= post.content%>
                    <%= post.user%>
                </li>
            <% } %>

        </ul>
         
    </div>