    <link rel="stylesheet" href="/css/home.css">
<div id="home-container">

    <section id="feed-post">
        <h4>Posts</h4>

        <% if(locals.user) { %>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" col
            
            s="30" rows="10" placeholder="type here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
    </section>

    <section id="post-list-container">
                <ul>
                        <% for(post of posts) { %>
                        
                            <%- include('_post') -%>

                        <% } %>
            </ul>

     </section>

    <section id="user-friends">
        <h4>Users</h4>
        <% for ( u of all_users) { %>
            <p>
                <a href = "/users/profile/<%= u.id%>"> <%= u.name%></a>
            </p>
        <% } %>
    </section>

    <section id="friends-list">
        <h4>Friends</h4>
        <% for(friend of currentUser.friendships){ %>

            <%= friend.to_user.name%>
        <%}%>
        
    </section>

</div>

<script src="/js/home_post.js"></script>
<script src="/js/toggle_like.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>