<h1>You are in password reset page</h1>

<form action="/reset_password/email" method="post">
    <input type="email" name="email" placeholder="Enter your email id">
    <input type="submit" value="Submit">
</form>