<h1>Sign Up</h1>
<form action="/users/create" method="post">
    <input type="text" name="name" required placeholder="Enter your name">
    <input type="email" name="email" required placeholder="Enter your email">
    <input type="password" name="password" required placeholder="Enter your password">
    <input type="password" name="confirm_password" required placeholder="confirm password">
    <input type="submit" value ="SignUp">

</form>